{% extends "base.html" %}
{% block content %}

<a href="{{base_path}}/sarjat" class="btn btn-warning">Sarjalistaukseen</a>

  <h1>{{sarja.arvo}}</h1>

  {% if message %}
    <div class="alert alert-success">
      {{message}}      
    </div>
  {% endif %} 

  <ul>
    <li><strong><a href="{{base_path}}/tulos/{{sarja.tulos}}">Kokonaistulos</a></strong></li>
    <li><strong>Lisätiedot: </strong>{{sarja.lisatiedot}}</li>
  </ul>

  <p>
      <a href="{{base_path}}/sarja/{{sarja.id}}/muokkaa" class="btn btn-default">Muokkaa</a>   
  </p>
{% endblock %}