{% extends "base.html" %}
{% block content %}

  <h1><strong>ShootRes</strong></h1>
  <br>
  <h3>Mikä on ShootRes?</h3>
  <p>
    ShootRes on kivääriampujille suunnattu tuloskirjanpitojärjestelmä. Järjestelmä...
  </p>
  <br>
  <h3>Mihin ShootRes:iä tarvitaan?</h3>
  <p>
    ShootRes:iä käytetään oman tuloskehityksen seuraamiseen. Järjestelmän avulla...
  </p>
  <br>
  <h3>Miten käytän ShootRes:iä?</h3>
  <p>
    Järjestelmää käytetään luomalla ensin tunnukset ja sitten lisäämällä tuloksia henkilökohtaiselle käyttäjätilillesi. Järjestelmä mahdollistaa...
  </p> 
  <br>
  <h2>Ota ShootRes käyttöön <a href="{{base_path}}/register">rekisteröitymällä</a>
</h2>
  

 


{% endblock %}