{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>
  <br>
  {% if error %}
   <div class="alert alert-warning">
      {{error}}      
    </div>
  {% endif %} 
  {% if message %}
    <div class="alert alert-warning">
      {{message}}      
    </div>
  {% endif %}
  {% if viesti %}
    <div class="alert alert-succes">
      {{viesti}}      
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/login">
    <div class="form-group">
      <label>Käyttäjätunnus</label><br>
      <input name="kayttajanimi" value="{{kayttajanimi}}" class="form" type="text" maxlength="12" width="6">
    </div>
    <div class="form-group">
      <label>Salasana</label><br>
      <input name="salasana" class="form" type="password" maxlength="12" width="6"> 
    </div>
    <br>
    <button type="submit" class="btn btn-warning">Kirjaudu sisään</button>
  </form>
{% endblock %}