{% extends "base.html" %}
{% block content %}
  <h1>615.4</h1>

  <table class="table table-bordered">
  <th>102.5</th>
  <th>103.2</th>
  <th>101.7</th>
  <th>102.0</th>
  <th>103.1</th>
  <th>102.9</th>
  </table>

  <ul>
    <li><strong>Napakymppejä: </strong>38x</li>
    <li><strong>Kilpailumuoto: </strong>60 ls</li>
    <li><strong>Aselaji: </strong>Ilmakivääri</li>
    <li><strong>Kilpailu: </strong>Kupittaan kisa</li>
    <li><strong>Päivämäärä: </strong> 23.1.2017</li>
  </ul>

  <p>
    Kisa meni oman tason mukaisesti, pito oli hyvä. Keskivaiheilla pari heikompaa laukausta, muuten perusvarmaa tekemistä.
  </p>
  <p>
    <button class="btn btn-warning">Poista</button> <a href="tuloksenMuokkaus" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}