#main-container{
  max-width: 1200px;
  padding: 10px 15px;
  margin: 0px auto;
  min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: lightgrey; /* For browsers that do not support gradients */

}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
  background-color: orange;
}

#rajaa_button {
    position:absolute;
    transition: .5s ease;
    top: -51px;
    left: 163px;
}

#rajaa_button:hover { 
    -webkit-transform: scale(1.05);/*Grows in size like Angry Birds button*/
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#rajaaSarjat_button {
    position:absolute;
    transition: .5s ease;
    top: -21px;
    left: 0px;
}

#rajaaSarjat_button:hover { 
    -webkit-transform: scale(1.05);/*Grows in size like Angry Birds button*/
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.navbar .header {
	background-color: grey;
}

th {
    background-color: #ea9525;
    color: white;
}

td {
	background: white;
}

html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, orange); /* Standard syntax (must be last) */
}

.dropbtn {
    background-color: orange;
    color: grey;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F79D00;
}
