{% extends "base.html" %}
{% block content %}

  <h1>Tuloksesi</h1>
  <p>                         
      <br>
        {% if message %}
          <div class="alert alert-success">
            {{message}}      
          </div>
        {% endif %}             
  </p>
  {% if tuloksia %}
  <form method="get" action="" class="form-inline">
    <div class="form group">
      <h4>Hae tulosta kilpailun nimen perusteella</h4>
      <input name="search" class="form-control" placeholder="Hakusana" type="text">
    </div>
    <br>
    <button type="submit" class="btn btn-default">Hae</button>
    <a href="{{base_path}}/tulokset" class="btn btn-warning">Näytä kaikki</a>
    
    {% if tyhja %}
    <br></br>
      <div class="alert alert-warning">
        {{tyhja}}      
      </div>
    {% endif %} 
  </form>
  {% if not rajaus %}
  {% if not tyhja %}
  <form method="get" action="">
  <div class="dropdown">
      <button class="btn btn-warning" id="rajaa_button">Rajaa</button>
      <div class="dropdown-content" id="rajaa_button" name="valittuAselaji">
        <a href="{{base_path}}/tulokset/ilmakivaari" name="Ilmakivääri">Ilmakivääri</a>
        <a href="{{base_path}}/tulokset/pienoiskivaari" name="Pienoiskivääri">Pienoiskivääri</a>
        <a href="{{base_path}}/tulokset/300mkivaari" name="300m Kivääri">300m Kivääri</a>
        <a href="{{base_path}}/tulokset/vakiokivaari" name="300m Vakiokivääri">300m Vakiokivääri</a>
      </div>
    </div>
    </form>
    {% endif %}
    {% endif %}
  <br>
  {% if not tyhja %}
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Tulos</th>
        <th>Kilpailumuoto</th>
        <th>Aselaji</th>
        <th>Kilpailu</th>
        <th>Päivämäärä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for tulos in tulokset %}
      <tr>
        <td><a href="{{base_path}}/tulos/{{tulos.id}}">{{tulos.arvo}}</a></td>
        <td>{{tulos.kilpailumuoto}}</td>
        <td>{{tulos.aselaji}}</td>
        <td>{{tulos.kilpailu}}</td>
        <td>{{tulos.paivamaara}}</td>
        <td><a class="btn btn-default btn-sm" href="{{base_path}}/tulos/{{tulos.id}}/muokkaa">Muokkaa</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% else %}
  <div class="alert alert-warning">Ei lisättyjä tuloksia</div>
  {% endif %}

  <p>
    <a href="{{base_path}}/valitseAselaji" class="btn btn-warning">Lisää tulos</a>
  </p>

  {% if tuloksia %}
  <nav>
  <ul class="pagination">
    <li class="{% if not prev_page %}disabled{% endif %}"><a href="{{base_path}}/tulokset{% if aselaji %}/{{aselaji}}{% endif %}?page={{prev_page}}"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
    {% for page in 1..pages %}
      <li class="{% if curr_page == page %}active{% endif %}"><a href="{{base_path}}/tulokset{% if aselaji %}/{{aselaji}}{% endif %}?page={{page}}">{{page}}</a></li>
    {% endfor %}
    <li class="{% if not next_page %}disabled{% endif %}"><a href="{{base_path}}/tulokset{% if aselaji %}/{{aselaji}}{% endif %}?page={{next_page}}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
  </ul>
  </nav>
  {% endif %}

{% endblock %}

