{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tulosta</h1><br>
  <form>
    <div class="form-group">
      <label>Tulos</label><br>
      <input size="4" value="615.4" type="text" maxlength="5">
    </div>
    <div class="form-group">
      <label>Sarjat</label><br>
      <input size="4" value="102.5" type="text" maxlength="5">
      <input size="4" value="103.2" type="text" maxlength="5">
      <input size="4" value="101.7" type="text" maxlength="5">
      <input size="4" value="102.0" type="text" maxlength="5">
      <input size="4" value="103.1" type="text" maxlength="5">
      <input size="4" value="102.9" type="text" maxlength="5">
    </div>  
    <div class="form-group">
      <label>Aselaji</label><br>
      <select>
        <option value="Ilmakivääri">Ilmakivääri</option>
        <option value="Pienoiskivääri">Pienoiskivääri</option>
      </select>
    </div>
    <div class="form-group">
      <label>Kilpailumuoto</label><br>
      <select>
        <option value="60 ls">60 ls</option>
        <option value="3x20 ls">3x20 ls</option>
      </select>
    </div>
    <div class="form-group">
      <label>Päivämäärä</label><br>
      <input size="8" value="29.1.2017" type="text" maxlength="10">
    </div>
    <div class="form-group">
      <label>Kilpailu</label><br>
      <input size="20" value="Kupittaan kisa" type="text">
    </div>
    <div class="form-group">
      <label>Lisätiedot</label><br>
       <textarea class="form" cols="60" maxlength="500">Kisa meni oman tason mukaisesti, pito oli hyvä. Keskivaiheilla pari heikompaa laukausta, muuten perusvarmaa tekemistä.
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning">Tallenna</button>
    </div>
  </form>
{% endblock %}