{% extends "base.html" %}
{% block content %}

<a href="{{base_path}}/tulokset" class="btn btn-warning">Takaisin tuloslistaukseen</a>
  <h1>{{tulos.arvo}}</h1>

  {% if message %}
    <div class="alert alert-success">
      {{message}}      
    </div>
  {% endif %} 

  <table class="table table-bordered">
  <th>102.5</th>
  <th>103.2</th>
  <th>101.7</th>
  <th>102.0</th>
  <th>103.1</th>
  <th>102.9</th>
  </table>

  <ul>
    <li><strong>Napakymppejä: </strong>{{tulos.napakympit}}x</li>
    <li><strong>Kilpailumuoto: </strong>{{tulos.kilpailumuoto}}</li>
    <li><strong>Aselaji: </strong>{{tulos.aselaji}}</li>
    <li><strong>Kilpailu: </strong>{{tulos.kilpailu}}</li>
    <li><strong>Päivämäärä: </strong>{{tulos.paivamaara}}</li>
  </ul>

  <p>
    {{tulos.lisatiedot}}
  </p>
  <p>
    <form method="post" action="{{base_path}}/tulos/{{tulos.id}}/poista" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa tuloksen?" style="display: inline-block;">
        <button type="submit" class="btn btn-warning">Poista</button>
    </form> 
      <a href="{{base_path}}/tulos/{{tulos.id}}/muokkaa" class="btn btn-default">Muokkaa</a>   
  </p>
{% endblock %}