{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tulosta</h1><br>

  {% if virheet %}
    <div class="alert alert-danger">
      <ul>
        {% for error in virheet %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %} 

  <form method="post" action="{{base_path}}/tulos/{{attribuutit.id}}/muokkaa">
    <div class="form-group">
      <label>Tulos</label><br>
      <input name="arvo" size="4" value="{{attribuutit.arvo}}"" type="text" maxlength="5">
    </div>  
    <div class="form-group">
      <label>Napakympit</label><br>
      <input name="napakympit" size="4" maxlength="2" type="text" value="{{attribuutit.napakympit}}">
    </div> 
    <div class="form-group">
      <label>Kilpailu</label><br>
      <input name="kilpailu" size="20" value="{{attribuutit.kilpailu}}" type="text">
    </div>
    <div class="form-group">
      <label>Päivämäärä (vuosi-kuukausi-päivä)</label><br>
      <input name="paivamaara" size="8" value="{{attribuutit.paivamaara}}" type="text" maxlength="10">
    </div>
    <div class="form-group">
      <label>Lisätiedot</label><br>
       <textarea name="lisatiedot" class="form" cols="60" maxlength="500">{{attribuutit.lisatiedot}}
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning">Tallenna</button>
    </div>
  </form>
{% endblock %}