{% extends "base.html" %}
{% block content %}
  <h1>Tuloksesi</h1>
  <p>                         
        <br>
        </br>               
  </p>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Tulos</th>
        <th>Kilpailumuoto</th>
        <th>Aselaji</th>
        <th>Kilpailu</th>
        <th>Päivämäärä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for tulos in tulokset %}
      <tr>
        <td><a href="{{base_path}}/tulos/{{tulos.id}}">{{tulos.arvo}}</a></td>
        <td>{{tulos.kilpailumuoto}}</td>
        <td>{{tulos.aselaji}}</td>
        <td>{{tulos.kilpailu}}</td>
        <td>{{tulos.paivamaara}}</td>
        <td><a class="btn btn-default btn-sm" href="{{base_path}}/tulos/{{tulos.id}}/muokkaa">Muokkaa</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    <a href="#" class="btn btn-warning">Lisää tulos</a>
  </p>

{% endblock %}

