{% extends "base.html" %}
{% block content %}

  <h1>Lisää uusi tulos</h1><br>

  {% if virheet %}
    <div class="alert alert-danger">
      <ul>
        {% for error in virheet %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}        

  <form method="post" action="{{base_path}}/uusi">
    <div class="form-group">
      <label>Tulos</label><br>
      <input name="arvo" maxlength="5" size="6" type="text" value="{{attribuutit.arvo}}">
      <input name="aselaji" value="{{aselaji}}" type="hidden">
      <input name="kilpailumuoto" value="{{kilpailumuoto}}" type="hidden">
      <input name="tallennettu" value="{{tallennettu}}" type="hidden">
    </div>

    <div class="form-group">
      <label>Sarjat</label><br>
      {% if kuusikymmenta %}
      {% for i in 0..5 %}
        <input name="sarjat[]" size="4" type="text" maxlength="5" value="{{sarjoja[i]}}">
      {% endfor %}
      {% endif %}
      {% if neljakymmenta %}
      {% for i in 0..3 %}
        <input name="sarjat[]" size="4" type="text" maxlength="5" value="{{sarjoja[i]}}">
      {% endfor %}
      {% endif %}
      {% if satakaksikymmenta %}
      {% for i in 0..11 %}
        <input name="sarjat[]" size="4" type="text" maxlength="5" value="{{sarjoja[i]}}">
      {% endfor %}
      {% endif %}
    </div> 

    <div class="form-group">
      <label>Napakympit</label><br>
      <input name="napakympit" size="4" maxlength="2" type="text" value="{{attribuutit.napakympit}}">
    </div>

    <div class="form-group">
      <label>Kilpailu</label><br>
      <input name="kilpailu" maxlength="30" size="20" type="text" value="{{attribuutit.kilpailu}}">
    </div>

    <div class="form-group">
      <label>Päivämäärä (vuosi-kuukausi-päivä)</label><br>
      <input name="paivamaara" size="8" type="text" maxlength="10" value="{{attribuutit.paivamaara}}" id="datepicker">
    </div>

    <div class="form-group">
      <label>Lisätiedot</label><br>
       <textarea name="lisatiedot" class="form" cols="60" maxlength="500">{{attribuutit.lisatiedot}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-warning">Lisää</button>
      <a href="{{base_path}}/valitseAselaji" class="btn btn-default">Takaisin</a>
    </div>
  </form>
{% endblock %}